---
import "../../styles/global.css";
import "../../styles/reset.css";
const { ButtonTitle } = Astro.props;
---

<button name={ButtonTitle}></button>

<style>
  button {
    display: flex;
    width: 10.4375rem;
    padding: 0.9375rem 2.125rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 2.625rem;
    background: #181818;
    color: #fff;
  }
  input {
    color: #fff;

    font-family: Lato;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
  }
</style>
