---
import "../styles/global.css";
import "../styles/reset.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>main layout</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <a href="../../pages/index.astro">About</a>
        </nav>
      </header>
      <slot />
    </main>
  </body>
</html>

<style>
  header {
    height: 80px;
  }
  main {
    display: grid;
    grid-template-columns: [full-start] 1fr [content] minmax(0, 75rem) 1fr[full-end];
    gap: 1rem;

    > * {
      grid-column: content;
    }
    .full {
      grid-column: full;
    }
  }
</style>
